<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Confrim Request</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">

    {% load static %}
    <link rel="stylesheet" href="{% static 'home/navbar.css' %}">
</head>

<body>

    <nav class="navbar navbar-light navbar-expand-md navbar-fixed-top navigation-clean-button"
        style="color: rgb(15,127,239); max-height: 520px; min-height: 120px;">
        <div class="container">
            <div>
                <a class="navbar-brand">
                    <span><img class="img-fluid" src="{% static 'home/logo2.jpg' %}"></span>
                </a>
                <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"
                    style="color: #242943; background: #ffffff;">

                    <span class="sr-only">Toggle navigation</span>
                    <span class="navbar-toggler-icon"></span>

                </button>
            </div>

            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav nav-right" style="color: rgb(255, 255, 255);">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'parentinfo' %}" style="color: rgb(255,255,255);">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'searcheducator' %}" style="color: rgb(255,255,255);">Educator Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'showeducatordetails' %}" style="color: rgb(255,255,255);">Educator Details</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'confirmrequest' %}" style="color: rgb(255,255,255); background-color: #f4476b">Sent Request</a>
                    </li>
                    
                    <li class="nav-item" style="color: rgb(255, 255, 255);">
                        <a class="nav-link" href="{% url 'updateinfo' %}" style="color: rgb(255,252,252);">Update Info</a>
                    </li>
                    <li class="nav-item" style="color: rgb(255, 255, 255);">
                        <a class="nav-link" href="{% url 'parentlogout' %}" style="color: rgb(255,252,252);">Log Out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <form method="post" action="{% url 'confirmrequest' %}"
        style="padding: 100px;background: linear-gradient(to right, #ffff66 0%, #cc99ff 100%);height: 900px;">
        {% csrf_token %}
        <h1 align="center" style="color: rgb(15,29,136);">Confirm your request</h1>
        <h5 align="center" style="margin-bottom: 50px;color: rgb(163,13,190);">using ID from educator search tab</h5>
        <div class="form-group">
            <!-- Start: 1 Row 3 Columns -->
            <div class="container">
                <div class="form-row">
                    <div class="col-md-6" style="padding-left: 200px">
                        <select class="border-warning shadow form-control" name="educatortype">
                            <optgroup label="Educator Type">
                                <option value="Home Educator">Home Educator</option>
                                <option value="Outside Educator">Outside Educator</option>
                            </optgroup>
                        </select>
                    </div>
                    <div class="col-md-6" style="padding-right: 200px">
                        <input class="border-warning shadow form-control" type="number"
                            name="educatorid" min="1" placeholder="Educator ID">
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-top: 80px;" align="center">
            <button class="btn" type="submit" style="background-color: rgb(33,74,128); width: 200px;height: 50px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;color: rgb(255, 255, 255);font-size: 20px;">Confirm Request</button>
        </div>

        <div>
            {% for message in messages %}
                <h4 style="color: var(--red);" align="center">{{ message }}</h4>
            {% endfor %}
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>