<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <title>Subjects</title>
</head>

<body>
    <div class="container">
        <div class="row">
          <div class="col-md-6 ">
            <div class="card">
              <div class="card-image">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="280" height="157" src="https://www.youtube.com/embed/518IcKGXpd0" frameborder="0" allowfullscreen></iframe>
                  <div class="content">
                    <h1>SOCIOLOGY</h1>
                  </div><!--end div class content-->
                </div><!--End Div embed-responsive-->
      
              </div>
              <!-- card image -->
      
              <div class="card-content">
                <span class="card-title">SOCIOLOGY</span>
                <p>Sociology is a social science that focuses on society, human social behavior, patterns of social relationships, social interaction, and aspects of culture associated with everyday life.[1][2][3] It uses various methods of empirical investigation and critical analysis[4]: 3–5  to develop a body of knowledge about social order and social change.[4]: 32–40  While some sociologists conduct research that may be applied directly to social policy and welfare, others focus primarily on refining the theoretical understanding of social processes and phenomenological method. Subject matter can range from micro-level analyses of society (i.e. of individual interaction and agency) to macro-level analyses (i.e. of social systems and social structure)</p>
      
              </div>
              <!-- card content -->
      
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="card">
              <div class="card-image">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/LtaCmORiP9A" frameborder="0" allowfullscreen></iframe>
                  <div class="content">
                    <h1>SOCIAL WORK</h1>
      
                  </div>
                </div>
      
              </div>
              <!-- card image -->
              <div class="card-content">
                <span class="card-title">SOCIAL WORK</span>
                <p>Social work practice is often divided into three levels. Micro-work involves working directly with individuals and families, such as providing individual counseling/therapy or assisting a family in accessing services. Mezzo-work involves working with groups and communities, such as conducting group therapy or providing services for community agencies. Macro-work involves fostering change on a larger scale through advocacy, social policy, research development, non-profit and public service administration, or working with government agencies.[3] Starting in the 1980s, a few universities began social work management programmes, to prepare students for the management of social and human service organizations, in addition to classical social work education
      </p>
              </div>
              <!-- card content -->
            </div>
          </div>
        </div>
      
        <div class="row">
          <div class="col-md-6 ">
            <div class="card">
              <div class="card-image">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/xgko5SUdFY8" frameborder="0" allowfullscreen></iframe>
                  <div class="content">
                    <h1>Mathematics</h1>
      
                  </div>
                </div>
      
              </div>
              <!-- card image -->
      
              <div class="card-content">
                <span class="card-title">MATHEMATICS</span>
                <p>Mathematics (from Ancient Greek μάθημα; máthēma: 'knowledge, study, learning') is an area of knowledge that includes such topics as numbers (arithmetic and number theory),[2] formulas and related structures (algebra),[3] shapes and the spaces in which they are contained (geometry),[2] and quantities and their changes (calculus and analysis).[4][5][6] Most mathematical activity involves the use of pure reason to discover or prove the properties of abstract objects, which consist of either abstractions from nature or—in modern mathematics—entities that are stipulated with certain properties, called axioms. A mathematical proof consists of a succession of applications of some deductive rules to already known results, including previously proved theorems, axioms and (in case of abstraction from nature) some basic properties that are considered as true starting points of the theory under consideration.</p>
       
      
              </div>
              <!-- card content -->
      
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="card">
              <div class="card-image">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/BMda_XOYOfg" frameborder="0" allowfullscreen></iframe>
                  <div class="content">
                    <h1>FINANCE</h1>
                    
      
                  </div>
                </div>
      
              </div>
              <!-- card image -->
      
              <div class="card-content">
                <span class="card-title">FINANCE</span>
                <p>Finance allows production and consumption in society to operate more independently from each other. Without the use of financial allocation, production would have to happen at the same time and space as consumption. Through finance, distances in timespace between production and consumption may be allowed to happen.[6]

                    Investing typically entails the purchase of stock, either individual securities, or via a mutual fund for example. Stocks are usually sold by corporations to investors so as to raise required capital in the form of "equity financing", as distinct from the debt financing described above. The financial intermediaries here are the investment banks. The investment banks find the initial investors and facilitate the listing of the securities, typically shares and bonds. Additionally, they facilitate the securities exchanges, which allow their trade thereafter, as well as the various service providers which manage the performance or risk of these investments. These latter include mutual funds, pension funds, wealth managers, and stock brokers, typically servicing retail investors ( </p>
              </div>
              <!-- card content -->
      
            </div>
          </div>
        </div><!--end row-->
      
        <div class="row">
          <div class="col-md-6 ">
            <div class="card">
              <div class="card-image">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/xxpc-HPKN28" frameborder="0" allowfullscreen></iframe>
                  <div class="content">
                    <h1>Statistics</h1>
      
                  </div>
                </div>
      
              </div>
              <!-- card image -->
      
              <div class="card-content">
                <span class="card-title">STATISTICS</span>
                <p>Statistics (from German: Statistik, orig. "description of a state, a country")[1][2] is the discipline that concerns the collection, organization, analysis, interpretation, and presentation of data.[3][4][5] In applying statistics to a scientific, industrial, or social problem, it is conventional to begin with a statistical population or a statistical model to be studied. Populations can be diverse groups of people or objects such as "all people living in a country" or "every atom composing a crystal". Statistics deals with every aspect of data, including the planning of data collection in terms of the design of surveys and experiments.[6]

                    When census data cannot be collected, statisticians collect data by developing specific experiment designs and survey samples. Representative sampling assures that inferences and conclusions can reasonably extend from the sample to the population as a whole. An experimental study involves taking measurements of the system under study, manipulating the system, and then taking additional measurements using the same procedure to determine if the manipulation has modified the values of the measurements. In contrast, an observational study does not involve experimental manipulation.</p>
              </div>
              <!-- card content -->
      
            </div>
          </div>
          <div class="col-md-6 ">
            <div class="card">
              <div class="card-image">
                <div class="embed-responsive embed-responsive-16by9">
                  <iframe width="560" height="315" src="https://www.youtube.com/embed/yjUTx4SG4s8" frameborder="0" allowfullscreen></iframe>
                  <div class="content">
                    <h1>Information technology</h1>
      
                  </div>
                </div>
      
              </div>
              <!-- card image -->
      
              <div class="card-content">
                <span class="card-title">Information technology</span>
                <p>Information technology (IT) is the use of computers to create, process, store, retrieve, and exchange all kinds of data[1] and information. IT is typically used within the context of business operations as opposed to personal or entertainment technologies.[2] IT forms part of information and communications technology (ICT).[3] An information technology system (IT system) is generally an information system, a communications system, or, more specifically speaking, a computer system — including all hardware, software, and peripheral equipment — operated by a limited group of IT users.

                    Although humans have been storing, retrieving, manipulating, and communicating information since the earliest writing systems were developed,[4] the term information technology in its modern sense first appeared in a 1958 article published in the Harvard Business Review; authors Harold J. Leavitt and Thomas L. Whisler commented that "the new technology does not yet have a single established name. We shall call it information technology (IT)."[5] Their definition consists of three categories: techniques for processing, the application of statistical and mathematical methods to decision-making, and the simulation of higher-order thinking through computer programs</p>
              </div>
              <!-- card content -->
      
            </div>
          </div>
        </div><!--end row-->
      
 
        

      
      

      

<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    
</body>

</html>