<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Educator Logout</title>

    {% load static %}
    <link rel="stylesheet" href="{% static 'educator/educatorauth.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:300,400|Roboto:300,400,700">

</head>

<body>

    <!-- Start: Highlight Clean -->
    <section class="highlight-clean"
        style="background: linear-gradient(to right, #ffff66 0%, #cc99ff 100%); height: 800px">
        <div class="container" style="margin-top: 40px;">

            <div class="intro">
                <h2 class="text-center">Your are Logged Out</h2>
            </div>

            <div class="intro">
                <h3 class="text-center">Go back to <span><a href="{% url 'home' %}">Home</a></span> Or</h3>
            </div>

            <div class="buttons">
                <a class="btn btn-primary shadow" role="button" href="{% url 'heducatorsignup' %}"
                    style="padding: 40px;background: linear-gradient(to right, #660033 0%, #990033 78%);font-size: 20px;">Sign Up As Home Educator</a>

                <a class="btn btn-light shadow" role="button" href="{% url 'oeducatorsignup' %}"
                    style="padding: 40px;background: linear-gradient(to right, #660033 0%, #990033 78%);font-size: 20px;color: var(--km-bg);">Sign UP As Outside
                    Educator</a></div><!-- End: Buttons -->
            <!-- Start: Buttons -->
            <div class="buttons">
                <a class="btn btn-light shadow" role="button" href="{% url 'login' %}"
                    style="padding: 40px;background: var(--orange);font-size: 20px;">log in</a></div>
            <!-- End: Buttons -->
        </div>
    </section><!-- End: Highlight Clean -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>