<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Choise Subjects</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/css/bootstrap.min.css">
</head>

<body>
    <form method="post" action="{% url 'subjectchoicehome' %}"
        style="padding: 100px;background: linear-gradient(-68deg, var(--teal) 26%, var(--yellow) 63%);height: 900px;">
        {% csrf_token %}
        <h1 align="center" style="color: rgb(33,74,128);">Choise Your Subjects</h1>
        <h5 align="center" style="margin-bottom: 50px;color: rgb(33,74,128);">You have to choice at least 1 subject.</h5>
        <div class="form-group">
            <!-- Start: 1 Row 3 Columns -->
            <div class="container">
                <div class="form-row">
                    <div class="col-md-4"><select class="border-dark shadow form-control"
                            style="background: transparent;" name="first">
                            <optgroup label="First Subject">
                                <option selected value="None">None</option>
                                <option value="Bangla">Bangla</option>
                                <option value="English">English</option>
                                <option value="ICT">ICT</option>
                                <option value="Physics">Physics</option>
                                <option value="Chemistry">Chemistry</option>
                                <option value="Biology">Biology</option>
                                <option value="Higher Math">Higher Math</option>
                                <option value="Accounting">Accounting</option>
                                <option value="Management">Management</option>
                                <option value="Economics">Economics</option>
                                <option value="Finance">Finance</option>
                                <option value="Logic">Logic</option>
                                <option value="Sociology">Sociology</option>
                                <option value="Geography">Geography</option>
                                <option value="Islamic History">Islamic History</option>
                                <option value="Social Work">Social Work</option>
                                <option value="History">History</option>
                            </optgroup>
                        </select></div>
                    <div class="col-md-4"><select class="border-dark shadow form-control"
                            style="background: transparent;" name="second">
                            <optgroup label="Second Subject">
                                <option selected value="None">None</option>
                                <option value="Bangla">Bangla</option>
                                <option value="English">English</option>
                                <option value="ICT">ICT</option>
                                <option value="Physics">Physics</option>
                                <option value="Chemistry">Chemistry</option>
                                <option value="Biology">Biology</option>
                                <option value="Higher Math">Higher Math</option>
                                <option value="Accounting">Accounting</option>
                                <option value="Management">Management</option>
                                <option value="Economics">Economics</option>
                                <option value="Finance">Finance</option>
                                <option value="Logic">Logic</option>
                                <option value="Sociology">Sociology</option>
                                <option value="Geography">Geography</option>
                                <option value="Islamic History">Islamic History</option>
                                <option value="Social Work">Social Work</option>
                                <option value="History">History</option>
                            </optgroup>
                        </select></div>
                    <div class="col-md-4"><select class="border-dark shadow form-control"
                            style="background: transparent;" name="third">
                            <optgroup label="Third Subject">
                                <option selected value="None">None</option>
                                <option value="Bangla">Bangla</option>
                                <option value="English">English</option>
                                <option value="ICT">ICT</option>
                                <option value="Physics">Physics</option>
                                <option value="Chemistry">Chemistry</option>
                                <option value="Biology">Biology</option>
                                <option value="Higher Math">Higher Math</option>
                                <option value="Accounting">Accounting</option>
                                <option value="Management">Management</option>
                                <option value="Economics">Economics</option>
                                <option value="Finance">Finance</option>
                                <option value="Logic">Logic</option>
                                <option value="Sociology">Sociology</option>
                                <option value="Geography">Geography</option>
                                <option value="Islamic History">Islamic History</option>
                                <option value="Social Work">Social Work</option>
                                <option value="History">History</option>
                            </optgroup>
                        </select></div>
                </div>
            </div><!-- End: 1 Row 3 Columns -->
        </div>
        <div class="form-group" style="margin-top: 80px;" align="center"><button class="btn" type="submit"
                style="background-color: rgb(33,74,128); width: 200px;height: 50px;padding-top: 0px;padding-right: 0px;padding-bottom: 0px;padding-left: 0px;color: rgb(255, 255, 255);font-size: 20px;">Button</button>
        </div>

        <div>
            {% for message in messages %}
                <h4 style="color: var(--red);" align="center">{{ message }}</h4>
            {% endfor %}
        </div>
    </form>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>